<html
	th:replace="~{layout :: layout(~{::title}, ~{::accueil}, ~{::register}, ~{::friend})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:fragment="title">Inscription/Connexion</title>
</head>
<body>
	<div th:fragment="register">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Jeu Echec</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="#">Connexion</a></li>
					<li class="active"><a href="#">Inscription</a></li>
				</ul>
			</div>

		</nav>
	</div>
	<div th:fragment="accueil"></div>
</body>
</html>